
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <!--Style and Scripts-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

</head>

<body>

<div class="container">

    <form action="/admin/add" method="post" class="form-signin-admin">

        <h1 class="form-signin-heading text-center">Login here!</h1>
        <label for="inputEmail" class="sr-only">Restaurent ID</label>
        <input type="name" id="inputEmail" class="form-control" placeholder="Restaurent ID" name="id" required autofocus>
        <label for="inputPassword" class="sr-only">Rating</label>
        <input type="name" id="inputPassword" class="form-control" placeholder="rating" name="rating" required>
        <label for="inputEmail" class="sr-only">Name</label>
        <input type="name" id="inputEmail" class="form-control" placeholder="Name" name="name" required >
        <label for="inputPassword" class="sr-only">Location</label>
        <input type="name" id="inputPassword" class="form-control" placeholder="location" name="location" required>
        <label for="inputPassword" class="sr-only">Email</label>
        <input type="email" id="inputemail" class="form-control" placeholder="Email" name="email" required>
        <label for="inputEmail" class="sr-only">Admin Name</label>
        <input type="password" id="inputEmail" class="form-control" placeholder="password" name="password" required>

        <% if( typeof error !== 'undefined' ){
        %>
        <p><%= error%></p>
        <%
        }%>

        <button id="Register" class="btn btn-lg btn-primary btn-block" value="register" type="submit">Sign in</button>

    </form>

</div>



</body>
</html>
