
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <!--Style and Scripts-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>


<body>

<div class="container">

    <form action="/restaurant/login" method="post" class="form-signin-admin">

        <h1 class="form-signin-heading text-center">Login here!</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="name" id="inputEmail" class="form-control" placeholder="username" name="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <% if( typeof error !== 'undefined' ){
        %>
        <p><%= error%></p>
        <%
        }%>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button id="login" class="btn btn-lg btn-primary btn-block" value="login user" type="submit">Sign in</button>

    </form>

</div>



</body>
</html>
